body {
    font-family: sans-serif;
  }
  
  table {
    border: 1px solid black;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    border-spacing: 0px;
  }
  
  td {
    padding: 5px;
  }
  
  input {
    font-size: 8pt;
  }
  
  .titlerow {
    font-weight: bold;
    font-size: 20pt;
    background: #ebd42d;
  }
  
  .headerrow {
    background: #3474eb;
    color: white;
    font-weight: bold;
    font-size: 10pt;
  }
  
  .itemrow {
    font-size: 8pt;
  }
  
  .striped {
    background: #dcdcdc;
  }
  
  .pricecell {
    text-align: right;
  }

  .navigation-cell {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navigation-button {
    cursor: pointer;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 8pt;
  }

  .navigation-button:hover {
    background: gainsboro;
    border: 1px solid #959595;
  }

  .right-justify {
    text-align: right;
  }

  .center-justify {
    text-align: center;
  }

  .current-page {
    background: #3474eb;
    color: white;
    font-weight: bold;
    font-size: 10pt;
  }